button {
  margin: 10px;
  padding: 15px 30px;
  border-radius: 15px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 80%;
  margin-bottom: 1rem;
}

button:hover {
  opacity: 0.8;
}

.solid {
  background-color: var(--primary-color);
  color: white;
}

.outline {
  background-color: transparent;
  color:  var(--primary-color);
  border: 1px solid  var(--primary-color);
}