.account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.account-info {
  margin-bottom: 20px;
}

.logout-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #0056b3;
}
