.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    font-family: Arial, sans-serif;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    height: 90%;
  }

  .heading {
    font-size: 2.5rem;
    text-align: center;
    color:var(--primary-color);
    font-weight: 250;
  }
  
  .code-icon {
    margin: 3rem;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  button {
    margin: 10px;
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 80%;
    margin-bottom: 1rem;
  }
  
  .login-button {
    background-color: var(--primary-color);
    color: white;
  }
  
  .signup-button {
    background-color: transparent;
    color:  var(--primary-color);
    border: 1px solid  var(--primary-color);
  }
  
  button:hover {
    opacity: 0.8;
  }
  