/* CodeViewer.css */
.code-viewer {
    font-family: monospace;
  }
  
  .code-line {
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
  }
  
  .line-number {
    margin-right: 8px;
    color: #555;
  }
  
  .code {
    white-space: pre-wrap;
  }
  
  .even {
    background-color: #f9f9f9;
  }
  
  .odd {
    background-color: #ffffff;
  }
  
  .error {
    
  }
  
  .clicked {
    background-color: #ffcccc;
  }
  